body {
  background-color: #D8D0C1;
  
}

button {
  background-color: #E0D3DE;
  color: #0E103D;
  font-size: 40px
}

h1 {
  font-family:courier;
  color: #6F686D;
  text-align: center;
  font-size: 150px;
}

h2 {
  font-size: 80px;
  text-align: center;
  color: #0D3B66
}

a {
  font-size: 35px;
  padding: 600px;
}

p {
  font-size: 40px;
  color: #272727;
  font-family:verdana;
}

u1 {
  font-size: 40px;
  color: #8E6C88;
  
}
